// colors ----------------------
$primary-color: #BC8DF8;
$secondary-color: #42E2B8;
$tertiary-color: #F3DFBF;
$background-dark-color: #222025;

// fonts -----------------------
@font-face {
	font-family: 'Moon';
	font-weight: 700;
	src: url('../public/fonts/Moon/Moon2.0-Bold.otf');
}

@font-face {
	font-family: 'Moon';
	font-weight: 400;
	src: url('../public/fonts/Moon/Moon2.0-Regular.otf');
}

@font-face {
	font-family: 'Moon';
	font-weight: 300;
	src: url('../public/fonts/Moon/Moon2.0-Light.otf');
}
